<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :name %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="field-unit field-unit--has-many">
    <div class="field-unit__label">
      <%= f.label :gallery_id %>
    </div>
    <div class="field-unit__field">
      <%= f.select :gallery_id, options_from_collection_for_select(Gallery.all, :id, :name, page.resource.gallery_id.to_s ), {include_blank: true}, class: 'form-control' %>
    </div>
  </div>
  
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :adress %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :adress, class: 'form-control' %>
    </div>
  </div>

  <table  class="inform" border="0" cellpadding="1" cellspacing="1">
    <tbody>
      <tbody>
          <tr>
            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :square_gla %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--number">
                <%= f.number_field :square_gla, class: 'form-control' %>
              </div>
            </td>

            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :square %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--number">
                <%= f.number_field :square, class: 'form-control' %>
              </div>
            </td>
          </tr>

          <tr>
            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :region_id %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--has-many">
                <%= f.select :region_id, options_from_collection_for_select(Region.all, :id, :name, page.resource.region_id.to_s ), {include_blank: true}, class: 'form-control' %>
                </div>
            </td>

            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :metro_station_id %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--has-many">
                <%= f.select :metro_station_id, options_from_collection_for_select(MetroStation.all, :id, :name, page.resource.metro_station_id.to_s ), {}, :multiple => true, class: 'form-control selectized' %>
              </div>
            </td>
          </tr>

          <tr>
            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :okrug_id %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--has-many">
                <%= f.select :okrug_id, options_from_collection_for_select(Okrug.all, :id, :name, page.resource.okrug_id.to_s ), {include_blank: true}, class: 'form-control' %>
              </div>
            </td>

            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :published_at %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--date-picker">
                <%= f.date_field :published_at, class: 'date_picker flatpickr-input' %>
              </div>
            </td>
          </tr>

          <tr>
            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :user_id %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--has-many">
                <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :fio, page.resource.user_id.to_s ), {include_blank: true}, class: 'form-control' %>
              </div>
            </td>

            <td class="td-label">
              <div class="field-unit__label">
                <%= f.label :facility_type_id %>
              </div>
            </td>
            <td class="td-field">
              <div class="field-unit__field field-unit--has-many">
                <%= f.select :facility_type_id, options_from_collection_for_select(FacilityType.all, :id, :name, page.resource.facility_type_id.to_s ), {include_blank: true}, class: 'form-control' %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

  <div class="field-unit field-unit--has-many">
    <div class="field-unit__label">
      <%= f.label :level %>
    </div>
    <div class="field-unit__field">
      <%= f.select :level, Facility.levels.keys.map {|key| [I18n.t("activerecord.attributes.facility.levels.#{key}"), key]}, {include_blank: true}, class: 'form-control' %>
    </div>
  </div>

  <div class="field-unit field-unit--wysiwyg-field">
    <div class="field-unit__label">
      <%= f.label :description %>
    </div>
    <div class="field-unit__field field-wide">
      <%= f.cktext_area :description, class: 'form-control', rows: 12 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
